---

import { Image } from "@astrojs/image/components";
import { authors } from "../content/authors";
import ContentSection from "~/components/content-section.astro";
---
<ContentSection title="¿Quienes somos?" id="features">
  <Fragment slot="lead">
    Sisgecoin es una empresa de software que ofrece soluciones integrales para la <span class="text-primary">gestión contable</span> 
    y el control de <span class="text-primary">inventario</span> de las pequeñas y medianas empresas.
    
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl"
    > Nuestro Equipo</h2>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        authors.slice(0, 6).map((item) => (
          <div class="group" >
            <div class="w-full aspect-square">
              <Image
                src={item.image}
                format="avif"
                width={580}
                height={580}
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <a href={`${item.git}`} target="_blank" rel="noopener noreferrer">{" "}
                {item.name}</a>
              <h2 class="text-sm text-gray-500 dark:text-gray-300">{" "}
                {item.bio}</h2>
            </div>
            
          </div>
        ))
      }
    </div>

    
  </Container>
</Layout>