---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Sigecoin" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  
  <Fragment slot="lead">
    Nuestra misión es simplificar la vida de los empresarios y contadores, proporcionándoles
    una herramienta <span class="text-primary">accesible, segura y eficiente</span>. Con nuestro software, podrás <span class="text-primary">gestionar
      la contabilidad </span>  de tu negocio, <span class="text-primary">generar informes financieros</span>, <span class="text-primary">emitir facturas </span> 
     electrónicas, <span class="text-primary">supervisar el inventario</span> de tus productos y optimizar tus procesos. 
     Nos comprometemos a ofrecer un producto de <span class="text-primary">alta calidad, innovador y personalizado</span> 
      para satisfacer las necesidades únicas de cada cliente.
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    
    <a
      href="https://drive.google.com/file/d/1ztwBL5qyNw81nAObd5NP9E9a3ZebZiFs/view?usp=drive_link"
     class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4" target="_blank"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Documentación</span>
    </a>
    <a
      href="https://github.com/DIOME09/SIGECOIN-PROYECT.git"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4" target="_blank"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Ver Demo</span>
    </a>
  </div>
</ContentSection>
<style>
  p{
    width: 650px;
  }
</style>